body {
  margin: 0;
  text-align: center;
}

.root{
	color: black;
	margin: auto;
	width: 80%;
}

input{
	width: 60%;
}

footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

